In [60]:
import numpy as np
import pandas as pd
import ast
import sklearn as scikit_learn
import nltk

In [59]:
! pip install nltk

Requirement already satisfied: nltk in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)

In [2]:
movies= pd.read_csv('tmdb_5000_movies.csv')

In [3]:
credits= pd.read_csv('tmdb_5000_credits.csv')

In [4]:
Movies=movies.merge(credits, on="title")

In [5]:
Credits=credits.merge(movies, on="title")

In [6]:
Credits.head(1).shape

(1, 23)

In [7]:
Movies=Movies[['movie_id','genres',"title","cast","keywords","crew"]]

In [8]:
 Movies.isnull().sum()

movie_id    0
genres      0
title       0
cast        0
keywords    0
crew        0
dtype: int64

In [11]:
 Movies.dropna(inplace=True)

In [12]:
Movies.duplicated().sum()

0

In [13]:
# for the genres of the each movies
# creating a function and append the data in the list
def new_genres(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return l

In [14]:
Movies['genres']=Movies['genres'].apply(new_genres)

In [15]:
# Movies.genres

In [16]:
 # for i in range(len(Movies)+1):
 #    list=[]
 #    for li in Movies.genres:
 #     list.append(li)
 #     print(list)

In [17]:
# for i in range(len(Movies)+1):
#     lis=[]
#     for li in Movies.keywords:
#         lis.append(li['name'])
#         print(lis)

In [18]:
# for the keywords of the each movies
def new_keywords(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return l

In [19]:
Movies["keywords"]=Movies["keywords"].apply(new_keywords)

In [20]:
# Movies.keywords

In [21]:
# for the cast of the each movies
# creating a function and append the data in the list
def cast(obj):
    lis=[]
    for i in ast.literal_eval(obj):
        lis.append(i["name"])
    return lis

In [22]:
Movies["cast"]=Movies["cast"].apply(cast)

In [23]:
# Movies.cast[0]

In [24]:
# def converts1(obj):
#     lis=[]
#     counter = 0
#     for i in ast.literal_eval(obj):
#         if counter !=3:
#             lis.append(i["name"])
#             counter+=1
#         else:
#             break
#     return lis

In [25]:
# for the crew of the each movie
# creating a function and append the data in the list
def extracting_director(obj):
    dire=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            dire.append(i['name'])
            break
    return dire

In [26]:

Movies['crew']=Movies['crew'].apply(extracting_director)

In [27]:
# Movies.crew

In [28]:
# # for the crew of the movies
# # creating a function with the function_name of convertsql and the name of the cast is append in a list 
# def converted(obj):
#     L=[]
#     counter=0
#     for i in ast.literal_eval(obj): 
#         if counter!=3:
#             L.append(i['name'])
#             counter+=1
#         else:
#             break
#     return L

In [29]:
# Movies['cast']=Movies['cast'].apply(converted)

In [30]:
Movies['tags']=Movies['genres']+Movies['keywords']+Movies['cast']+Movies['crew']

In [31]:
Movies.head()

,movie_id,genres,title,cast,keywords,crew,tags
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[culture clash, future, space war, space colon...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction, ..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[ocean, drug abuse, exotic island, east india ...",[Gore Verbinski],"[Adventure, Fantasy, Action, ocean, drug abuse..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[spy, based on novel, secret agent, sequel, mi...",[Sam Mendes],"[Action, Adventure, Crime, spy, based on novel..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...","[dc comics, crime fighter, terrorist, secret i...",[Christopher Nolan],"[Action, Crime, Drama, Thriller, dc comics, cr..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[based on novel, mars, medallion, space travel...",[Andrew Stanton],"[Action, Adventure, Science Fiction, based on ..."

In [32]:
new_df=Movies[['movie_id','title','tags']]

In [33]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drug abuse..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, based on novel..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dc comics, cr..."
4,49529,John Carter,"[Action, Adventure, Science Fiction, based on ..."

In [34]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Dell\AppData\Local\Temp\ipykernel_15988\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [35]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy Science Fiction cultu...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drug abuse exot...
2,206647,Spectre,Action Adventure Crime spy based on novel secr...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dc comics crime fi...
4,49529,John Carter,Action Adventure Science Fiction based on nove...

In [36]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy Science Fiction cultu...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drug abuse exot...
2,206647,Spectre,Action Adventure Crime spy based on novel secr...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dc comics crime fi...
4,49529,John Carter,Action Adventure Science Fiction based on nove...

In [37]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\Dell\AppData\Local\Temp\ipykernel_15988\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [38]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy science fiction cultu...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drug abuse exot...
2,206647,Spectre,action adventure crime spy based on novel secr...
3,49026,The Dark Knight Rises,action crime drama thriller dc comics crime fi...
4,49529,John Carter,action adventure science fiction based on nove...

In [61]:
# using nltk library for the stemming

In [63]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [66]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [70]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\Dell\AppData\Local\Temp\ipykernel_15988\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [39]:
new_df["tags"][0]

'action adventure fantasy science fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez giovanni ribisi joel david moore cch pounder wes studi laz alonso dileep rao matt gerald sean anthony moran jason whyte scott lawrence kelly kilgour james patrick pitt sean patrick murphy peter dillon kevin dorman kelson henderson david van horn jacob tomuri michael blain-rozgay jon curry luke hawker woody schultz peter mensah sonia yee jahnel curfman ilram choi kyla warren lisa roumain debra wilson chris mala taylor kibby jodie landau julie lamm cullen b. madden joseph brady madden frankie torres austin wilson sara wilson tamica washington-miller lucy briant nathan meister gerry blair matthew chamberlain paul yates wray wilson james gaylyn melvin leno clark iii carvon futrell brandon jelkes micah moch hanniyah muhammad christopher nolen christa oliver april marie thomas bravita a. threatt colin bleasdale mike bodnar matt clayton nicole dionne jamie harrison allan henry anthony ingruber ashley jeffery dean knowsley joseph mika-hunt terry notary kai pantano logan pithyou stuart pollock raja gareth ruck rhian sheehan t. j. storm jodie taylor alicia vela-bailey richard whiteside nikie zambo julene renee james cameron'

In [41]:
new_df['tags'][1]

"adventure fantasy action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnny depp orlando bloom keira knightley stellan skarsgård chow yun-fat bill nighy geoffrey rush jack davenport kevin mcnally tom hollander naomie harris jonathan pryce keith richards lee arenberg mackenzie crook greg ellis david bailie martin klebba david schofield lauren maher vanessa branch angus barnett giles new reggie lee dominic scott kay takayo fischer david meunier ho-kwan tse andy beckwith peter donald badalamenti ii christopher s. capp keith richards hakeem kae-kazim ghassan massoud gore verbinski"

In [45]:
# sklearn

In [47]:
# vectorization
# using the sklearn class for converting the text documentation into the matrix of token counts

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [51]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [53]:
vectors.shape

(4809, 5000)

In [55]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [68]:
stem("adventure fantasy action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnny depp orlando bloom keira knightley stellan skarsgård chow yun-fat bill nighy geoffrey rush jack davenport kevin mcnally tom hollander naomie harris jonathan pryce keith richards lee arenberg mackenzie crook greg ellis david bailie martin klebba david schofield lauren maher vanessa branch angus barnett giles new reggie lee dominic scott kay takayo fischer david meunier ho-kwan tse andy beckwith peter donald badalamenti ii christopher s. capp keith richards hakeem kae-kazim ghassan massoud gore verbinski")

"adventur fantasi action ocean drug abus exot island east india trade compani love of one' life traitor shipwreck strong woman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnni depp orlando bloom keira knightley stellan skarsgård chow yun-fat bill nighi geoffrey rush jack davenport kevin mcnalli tom holland naomi harri jonathan pryce keith richard lee arenberg mackenzi crook greg elli david baili martin klebba david schofield lauren maher vanessa branch angu barnett gile new reggi lee domin scott kay takayo fischer david meunier ho-kwan tse andi beckwith peter donald badalamenti ii christoph s. capp keith richard hakeem kae-kazim ghassan massoud gore verbinski"

In [72]:
from sklearn.metrics.pairwise import cosine_similarity

In [80]:
similarity=cosine_similarity(vectors)

In [108]:
# sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:5]

In [82]:
similarity[0].shape

(4809,)

In [106]:
# similarity[1]

In [107]:
# sorted(similarity[3],reverse=True)

In [96]:
new_df[new_df['title']=='Batman Begins'].index[0]

119

In [85]:
# creating a function where the five similar movies are recommended

In [121]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list=sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:5]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [120]:
recommend('Avatar')

Star Trek Into Darkness
47
The Dark Knight
65
Aliens
2409
Lockout
2204

In [122]:
new_df.iloc[47].title

'Star Trek Into Darkness'

In [125]:
import pickle

In [126]:
pickle.dump(new_df,open('movies.pkl','wb'))